* {
    padding: 0;
    margin: 0;
}
body {
    display:flex;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;
    color:white;
}
.side {
    width:48%;
    height:800px;
    background: black;
}
.col1 {
    width:100%;
    height:50px;
    display:flex;
    font-size:1em;
    color:white;
    line-height:20px;
}
.panel-block{
    background: linear-gradient(to top,rgb(124,148,189),rgb(80,109,139));
    outline: 1px solid  rgb(90,117,151) ;
}

.col1-row
{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height:100%;
    padding-left:0.7em;
}
.col1 .col1-row:first-child
{
    background:rgb(148,180,213);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.up-text
{
    font-size:14px;
    margin-right: 8px;
}
.fa-arrow-down 
{
    color:rgb(142,241,244);
}
.before-m::after
{
    color:rgb(142,241,244);
    content: "m";
    margin:0;
}
.space-image
{   
    background-image: url(img/space.jpg);
    height: 350px;
    width:100%;
    background-size: cover;
}
.col2
{
    display:flex;
    justify-content: center;
    width:100%;
    height:100px;
    line-height:30px;
}
.col2-row
{
    width:20%;
}
.col2-row:first-child
{
    width:40%;
    font-size: 4em;
}
.col2-row:nth-child(2)
{
    background-image: url(img/diagram1.png);
    background-size: cover;
}
.blue-up-text
{
    color:rgb(142,241,244);
    font-size:14px;
    margin-left: 15px;
}
.blue-text{
    color:rgb(142,241,244);
}
.col2-row
{   padding-left:20px;
    font-size: 30px;
}
.ms-text
{
    font-size:20px;
}
.med-text
{
 font-size:30px;
}
.col3
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:80px;
}
.col3-row
{
    font-size: 30px;
    margin:20px;
}
.big-text
{
 font-size: 50px;
 margin-right: 10px;
}
.col4
{
    flex-wrap: nowrap;
    display: flex;
    width:100%;
    height:120px;
    z-index: 5;
}
.col4-left
{
    width:50%;
    height:120px;
}
.col4-right
{
    width:50%;
    height:120px;
    
}
.col4-left-row
{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:50%;
}
#wline
{
   border:none;
   width:90%;
   position: relative;
   left:5%;
   height:3px;
   background: rgb(80,109,139);
}
.col5
{   
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    align-items: center;
    height:50px;
    font-size: 20px;
    z-index: 3;
}
.col6
{
    display: flex;
    width:calc(100%-10px);
    height:0px;
    padding: 0px;
    font-size:20px;
    visibility: hidden;
}
.col6-left
{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:15%;
    height:100%;
    margin-right: 15px;
    border-right: 1px solid white;
}
#white-circle
{
    width:15px;
    height: 15px;
    background-color:  white;
    border-radius: 50%;
    position: relative;
    right: 23px;
    top:50px;
}
.col6-right
{
    width:85%;
    height:100%;
    
}
.col6-right
{
    display:flex;
    flex-direction: column;
}
.col6-right span{
    display: flex;
    justify-content: space-between;
}
.col6-right hr
{
    border:2px solid rgb(80,109,139);
    width:100%;
    height:1px;
    color:rgb(80,109,139);
}
.col7
{
    display: flex;
    justify-content: flex-start;
    width:100%;
    height:35px;
    font-size: 20px;
}
.col7 div
{
    display:flex;
    align-items: center;
    background:rgb(128,158,200);
    padding:0 0 0 10px;
}
.col7 div:first-child
{
    width:60%;
}
.col7 div:last-child
{
    width: 40%;
}
.col8
{
    width:100%;
    height:175px;
    background:rgb(124,148,189);
}
.col8-col
{
    display: flex;
    height:25px;
}
.col8-col-row
{
    display: flex;
    justify-content: center;
    align-items: center;
    width:10%;
    border-right:2px solid rgb(80,109,139);;
    border-bottom:2px solid rgb(80,109,139);;
    height:25px;
    
    z-index: 2;
}
.line
{
    height:175px;;
    width:2px;
    background:rgb(142,241,244);
    position: absolute;
    left:17%;
}
.square
{
    width:12px;
    height:18px;
    background:rgb(147,181,221);
    position: relative;
    z-index: 3;
}
.sq2
{
    right:10%;
}
.sq3
{
    left:15%;
}
.sq4
{
    left:30%;
}
.sq5
{
    width:35px;
    right:10%;
}
.sq6
{
    width:35px;
    right:50%;
}
.sq7
{
    width: 35px;
    background:rgb(142,241,244);
    left:10%;
}
.sq8
{
    width:50px;
    left:10%;
}
.sq9
{
    width:60px;
    left:20%;
}
.sq10
{
    width:110px;
    position: absolute;
    left:40%;
}
.sq11
{
    width:5px;
    left:5%;
}
.time-line
{
    position: relative;
    margin-right: 45px;
    left:8%;
}
.pg-line
{
    display: flex;
    width: 100%;
    height: 30px;
}
.pg-line-left
{
    width: 25%;
    background:rgb(142,241,244);
}
.pg-line-right
{
    background:rgb(147,181,221);
    width: 75%;
}
